.Rental-List {
    
        list-style-type: none;
      
}

.Rental-Box {
    display: flex;
    flex-wrap: row;
    flex: row;
    flex-direction: left !important;
    text-align: left !important;
    
    font-size: 18px;
    font-weight: 200;
}

.Rental-Section {
    font-size: 14px;
    font-weight: 200;
    flex: 1;
    flex-direction: left !important;
    
}
.Rental-Section-Header {
font-weight: 500;
}

.Rental-List-Child {

    padding-top: 18px;
    float: left;
    margin-left: 5px;
    font-size: 16px;
    
}
.rental-img-container{
    background: rgb(255, 255, 255);
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;
}

.Rental-Selection-Holder {
    display: flex;

}
.Rental-Text-Cont {
    display: flex;
    flex-direction: column;

}
.Rental-Picture-Cont {
    padding-left: 80px;

}
.Rental-Text-Top {

}

.Rental-Text-Bottom {

}

.Rental-List {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}
.Rental-List-Child {
    flex: 1;
    text-align: center;
    padding: 10;
    margin: 0;
}