.bottom-rental-content-container {
    display: flex;
    flex-direction: row;
    margin-top: 48px;
}

.rental-bottom-left-pane-content-container {
    width: 58.33%;
    display: flex;
    flex-direction: column;
    margin-right: 8.33%;
}

.rental-description-container {
    padding: 48px 0;
    border-bottom: 1px solid #ddd;
}

.rental-amenities-container {
    padding: 48px 0;
    border-bottom: 1px solid #ddd;
}

.rental-calendar-container {
    padding: 48px 0;
}

.rental-bottom-right-pane-content-container {
    position: relative;
    width: 33.33%;
    min-height: calc(100vh - 90px);
    display: flex;
    flex-direction: column;
}