.calendar-main-container{
    display: flex;
    flex-direction: column;
}

.calendar-container{
    margin-left: -2em;
}

.calendar-title{
    display: flex;
    flex-direction: column;
    text-align: left;
}

.number-of-nights{
    font-size: 20.5px;
    font-weight: 500;
    margin-bottom: .5em;
}

.date-range{
    font-size: 13.5px;
    color:#737373;
    font-weight: 300 !important;
}

.rdp-caption_label{ /*month and year*/
    font-size: 15.5px;
    font-weight: 500;
    margin-bottom: 1em;
    margin-top: 1em;
}

.rdp-day_today:not(.rdp-day_outside) { /*today's date THIS IS MAKING THE CURRENT DATE NOT BOLDER THAN THE REST OF THE NUMBERS*/
    font-weight:400;
  }

.rdp-nav button{/*carrots*/
    color: currentColor;
    width: 24px;
    height: 24px;
}

.rdp-head_cell{ /*days of week*/
    color: #717171;
    font-size: 11px;
    font-weight: 500 !important;
}

.rdp-button_reset{ /*actual days*/
    font-size: 14px;
}

.rdp-button_reset[aria-selected='true']{ /*numbers in between selected*/
    color:#222222;
    font-size: 14px;
    background-color: #f7f7f7 !important;
}

/*disables the hover effect on the start and end dates of the dates selected, and applies only to days in between*/
.rdp-button_reset[aria-selected='true']:not(.rdp-day_range_start[aria-selected="true"]):not(.rdp-day_range_end[aria-selected="true"]):hover,
.rdp-button_reset[aria-selected='true'].rdp-day:not(.rdp-day_range_start):not(.rdp-day_range_end):hover {
    background-color: white !important;
    border: 1px solid #222222;
    border-radius: 50%;
}

.rdp-day_range_start[aria-selected="true"] { /*from date selected*/
    font-size: 14px;
    color:white !important;
    background-color: #222222 !important;
}

.rdp-day_range_end[aria-selected="true"] { /*to date selected*/
    font-size: 14px;
    background-color: currentColor;
    border:white;
    color:white !important;
    background-color: #222222!important; 
}
  
.rdp-button:hover:not([disabled]):not(.rdp-day_selected) { /*hover for the days not selected*/
    background-color: white !important;
    border: 1px solid #222222;
  }

.calendar-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.keyboard-icon{
    margin-left: -1em;
    margin-top:-.5em;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.keyboard-icon svg{
    margin-top: .8em;
    height: 24px;
    width: 24px;
}

.keyboard-icon:hover{
    background-color: rgba(235, 235, 235, 0.55);
    cursor: pointer;
}

.clear-dates button:hover{
    background-color: rgba(235, 235, 235, 0.55);
    cursor: pointer;
}

.clear-dates button{
    padding: .5em .5em .5em .5em;
    border: none;
    border-radius: 10%;
    background-color: white;
    font-size:14px;
    margin-right: 2em;
    text-decoration-line: underline;
}


  @media screen and (max-width: 768px) {
    /* Media query for screen size smaller than 768px */
    .rdp-months div:nth-of-type(2) {
      display: none;
    }

    .rdp{
        width: 100%;
    }

    .rdp-months{
        width: 100%;
        justify-content: center;
    }

    .rdp-months div:nth-of-type(1) {
        max-width:100%
      }

    .rdp-caption{ /*month and year*/
        font-size: 20px;
    }
  }