.rental-header-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 24px;
    justify-content: flex-start;
    text-align: left;
    font-family: 'Manrope', sans-serif;
    font-size: 24px;
    font-weight: 600;
    text-underline-offset: 1px;
}

.rental-header-property-title {
    margin-bottom: 4px;
    letter-spacing: 1px;
}

.rental-header-property-details-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
}

.rental-header-property-details {
    height: 28px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.4px;
}

.rental-header-property-details button {
    border: none;
    outline: none;
    background-color: #fff;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.4px;
    text-decoration: underline;
    cursor: pointer;
    margin-left: 3px;
}

.rating-star {
    margin-right: 4px;
}

.rating-star svg {
    width: 14px;
    height: 14px;
    fill: rgb(34, 34, 34);
}

.rating-spacer {
    margin: 6px 5px 0 7px;
    color: rgb(113, 113, 113);
}

.rental-header-property-links {
    width: 136px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-left: auto;
}

#header-share-btn {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 62px;
    background-color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    margin: 7px 18px 0 0;
}

#header-share-btn svg {
    width: 16px;
    height: 16px;
    stroke-width: 2px;
    stroke: rgb(34, 34, 34);
}

.header-share-btn-text {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.4px;
    text-decoration: underline;
    cursor: pointer;
    margin-left: 8px;
}

#header-save-btn {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 62px;
    background-color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    margin-top: 7px;
}

#header-save-btn svg {
    width: 16px;
    height: 16px;
    stroke-width: 2px;
    fill: none;
    stroke: rgb(34, 34, 34);
}

.header-save-btn-text {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.4px;
    text-decoration: underline;
    cursor: pointer;
    margin-left: 8px;
}

/* HEADER IMAGE SECTION */
.rentals-image-outer-container {
    width: 100%;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
    padding-top: 24px;
    margin-bottom: 48px;
}

.rentals-image-inner-container {
    display: flex;
    flex-direction: row;
    max-height: calc(-64px + 60vh) !important;
    border-radius: 12px;
    overflow-y: hidden;
}

.large-image-container {
    width: 50%;
    margin-right: 10px;
}

.large-image-container img {
    max-width: 100%;
}

.quad-image-container {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.top-row-image-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.top-left-image-container {
    width: 50%;
}

.top-left-image-container img {
    max-width: 100%;
}

.top-right-image-container {
    width: 50%;
}

.top-right-image-container img {
    max-width: 100%;
}

.bottom-row-image-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.bottom-left-image-container {
    width: 50%;
}

.bottom-left-image-container img {
    max-width: 100%;
}

.bottom-left-image-container img:hover {
    cursor: pointer;
}

.bottom-right-image-container {
    width: 50%;
}

.bottom-right-image-container img {
    max-width: 100%;
}

.bottom-right-image-container img:hover {
    cursor: pointer;
}