.amenities-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
    background-color: rgba(0, 0, 0, 0.5);
}

.amenities-modal-container {
    display: flex;
    height: 100%;
    width: 100%;
    /* overflow: scroll; */
}

.amenities-modal {
    background-color: white;
    border-radius: 2.5%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 780px;
    max-width: 100%;
    height: 80%;
    /* overflow: scroll; */
    display:flex;
    flex-direction: column;
}


.amenities-close-btn {
    display: flex;
    border-radius: 50%;
    margin-left: 1em;
    margin-top: 1.5em;
    height: 60px;
}

.amenities-close-btn button {
    height: 32px;
    width: 32px;
    background-color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.amenities-close-btn svg {
    height: 16px;
    width: 16px;
    stroke: rgb(34, 34, 34);
    stroke-width: 3px;
    /* overflow: visible; */
    border-radius: 50%;
}

.amenities-close-btn button:hover {
    background-color: rgba(235, 235, 235, 0.55);
}

.overall-amen-content {
    overflow-x: hidden;
    word-wrap: break-word;
    height: 90%;
}

.modal-header {
    display: flex;
    padding-left: 30px;
    padding-bottom: 10px;
    padding-top: 20px;
}

.amen-categories {
    display: flex;
    /* padding-left: 30px; */
    padding: 10px 0 10px 30px;
    font-size: 18px;
    font-weight: 500;
}

.amen-modal-content {
    padding-left: 30px;
    padding-bottom: 15px;
    padding-top: 10px;
    /* border-bottom: 1px solid rgba(221, 221, 221, .7); */
    display: inline-block;
    width: 100%;
    text-align: left;
}

.amen-modal-group svg {
    height: 24px;
    width: 24px;
    margin-right: 8px;
}

#camera {
    width: 80%
}

.amen-modal-group {
    display:flex;
    flex-direction: row;
    align-items: center;
}

.amen-modal-name-sub {
    /* padding-left: 30px; */
    display: inline-block;
    width: 100%;
    text-align: left;
    /* position: relative; */
    font-size: small;
    color: rgb(137, 137, 137);
}

.border-bottom {
    border-bottom: 1px solid rgba(221, 221, 221, .7);
    /* position: absolute; */
    bottom: 80%;
    width:93%;
    padding-top: 20px;
}