.bottom-rental-content-container {
    display: flex;
    flex-direction: row;
}

.rental-bottom-left-pane-content-container {
    width: 58.33%;
}

.rental-description-container {
    padding: 48px 0;
    border-bottom: 1px solid #ddd;
}

.rental-amenities-container {
    padding: 48px 0;
    border-bottom: 1px solid #ddd;
}

.rental-calendar-container {
    padding: 48px 0;
}

.rental-bottom-right-pane-content-container {
    width: 33.33%;
    margin-left: 8.33%;
}