* {
    box-sizing: border-box;
}

.Rental-List {
        list-style-type: none;
        text-align: left !important;  
}

.Rental-Text-Bottom {
    margin-bottom: 20px;
}

.Rental-Box {
    display: flex;
    flex-wrap: row;
    flex: row;
    flex-direction: left !important;
    text-align: left !important;
    font-size: 18px;
    font-weight: 200;
}

.Rental-Section {
    font-size: 14px;
    font-weight: 200;
    flex: 1;
    flex-direction: left !important;  
}

.Rental-Section-Header {
font-weight: 500;
}

.Rental-List-Child {
    padding-top: 18px;
    float: left;
    margin-left: 5px;
    font-size: 16px;
    
}
.rental-img-container{
    background: rgb(255, 255, 255);
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;
}

.Rental-Selection-Holder {
    display: flex;
    overflow: hidden;
    border-bottom: 1px solid rgba(221, 221, 221, .7);
}

.Rental-Text-Cont {
    display: flex;
    flex-direction: column;
}

.Rental-Picture-Cont {
    padding-left: 80px;
}

.Rental-List {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}
.Rental-List-Child {
    flex: 1;
    text-align: center;
    padding: 10;
    margin: 0;
}

.rental-img-container{
    width: 64px;
    height: 64px;
    border-radius: 50%;
    padding-left: 60px;
}

.rental-img-container img{
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.rental-self-checkin {
    display: flex;
    border-bottom: 1px solid rgba(221, 221, 221, .7);
    flex-direction: column;
}

.rental-aircover {
    border-bottom: 1px solid rgba(221, 221, 221, .7);
    /* text-align: left; */
    padding-top: 32px;
    padding-bottom: 18px;
}

.rental-aircover-section {
    display: flex;
    text-align: left;
    flex-direction: column;
    margin-top: 10px;
}

.rental-airCover-image {
    width: 120px;
    height: 26px;
    margin-bottom: 12px;
}

.rental-aircover-desc {
    text-align: left !important;
    margin: 0px;
    font-size: 16px;
    line-height: 20px;
}

.self-check-in-container{
    display: flex;
    flex-direction: column !important;
    margin-top: 1.7em;
    min-height: 15vh;
    border-bottom: 1px solid rgba(221, 221, 221, .7);  
}

.door-icon{
    display: flex;
    flex-shrink: 0 !important;
    height: 24px;
    width: 24px;
    flex: 1;
}

.door-icon svg{
    height: 24px;
    width: 24px;
    margin-top: 1.7em;
}

.key-icon{
    flex: 1;
    height: 24px;
    width: 24px;
    display: flex;
    flex-direction: row;
}

.key-icon svg{
    height: 24px;
    width: 24px;
    margin-top: 1.7em;
}

.heart-icon{
    flex: 1;
    height: 24px;
    width: 24px;
    display: flex;
    flex-direction: row;
}

.heart-icon svg{
    height: 24px;
    width: 24px;
    margin-top: 1.7em;
}

.rental-aircover {
    display: flex;
    justify-content: left !important;
    flex-direction: column;
    text-align: left;
}

.airCover-image {
    height: 24px;
    justify-content: left !important;
    text-align: left;
}

.rental-aircover-desc-fix{
    font-size:14.5px;
    font-weight: 400;
}

.learn-more-link {
    display: flex;
    margin-top: 1em;
    text-align: left;
    font-weight: 500;
    text-decoration: underline;
    text-decoration-color: rgb(34, 34, 34);
    margin-bottom: 30px;
    text-align: left;   
}

.learn-more-link-under {
    margin-top: 5px;
    border-bottom: 1px solid rgba(221, 221, 221, .7);
}

.arrow{
    width: 10px;
    height: 10px;
    margin-left:.5em;
}

.rental-about {
    overflow: hidden;
    text-align: left;
    padding-top: 10px;
    line-height: 24px;
    font-size: 16px;
    margin-top: 2em;
}

.rental-about-span {
    flex-direction: left !important;
    font-size:15.5px;
    font-weight: 300;
    margin-left: 0em;
    margin-top:.2em;
    margin-bottom: 0em;
    padding-top: 10px;
    text-align: left; 
}

.rental-about-showmore-link {
    display: flex;
    margin-top: 1em;
    text-align: left;
    font-weight: 500;
    text-decoration: underline;
    text-decoration-color: rgb(34, 34, 34);
    margin-bottom: 10px;
}

.self-checkin-door{
    display: flex;
    flex-direction: row !important;
    margin-top: .5em;
    width:95%;
}

.self-check-in-door-info{
    font-size:15.5px;
    font-weight: 300;
    margin-left: 3em;
    text-align: left !important;
    font-weight: 400;
}

.self-check-in-door-description{
    font-size: 13.5px;
    font-weight: 300;
    margin-left: 3.4em;
    margin-bottom: .5em;
    margin-top:.5em;
    color: #717171;
    text-align: left !important;
}

.self-checkin-key{
    display: flex;
    flex-direction: row;
    margin-top: 1.7em;
    width:95%; 
}

.self-check-in-key-info{
    font-size:15.5px;
    font-weight: 300;
    margin-left: 3em;
    margin-top:.2em;
    text-align: left !important;
    font-weight: 400;
}

.self-check-in-key-description{
    font-size: 13.5px;
    font-weight: 300;
    margin-left: 3.4em;
    margin-bottom: .5em;
    margin-top:.5em;
    color: #717171;
    text-align: left !important;
}

.self-checkin-heart{
    display: flex;
    flex-direction: row;
    margin-top: 1.7em;
    width:95%;
}

.self-check-in-heart-info{
    font-size:15.5px;
    font-weight: 300;
    margin-left: 3em;
    margin-top:.2em;
    text-align: left !important;
    font-weight: 400;
}

.self-check-in-heart-description{
    font-size: 13.5px;
    font-weight: 300;
    margin-left: 3.4em;
    margin-bottom: 1.5em;
    margin-top:.5em;
    color: #717171;
    text-align: left !important;
}

