@media only screen and (max-width: 893px) {
    .rental-modal-content-header {
        flex-direction: column;
        justify-content: left;
    }

    .rental-modal-content-header-pricing {
        margin-bottom: 8px;
    }
}

@media only screen and (max-width: 744px) {
    /* Modal pins to bottom of screen with nightly rate, reviews rating and button */
}

.rental-modal-outer-container {
    position: sticky !important;
    top: 130px !important;
    padding-bottom: 48px;
    z-index: 1;
}

.rental-modal-container {
    width: 100%;
    padding: 24px;
    border: 1px solid #ddd;
    border-radius: 12px;
    box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.12); 
}

.rental-modal-dates {
    display: flex;
    flex-direction: row;
    height: 100%;
}

#rental-modal-dates-btn {
    display: flex;
    flex-direction: row;
    outline: none;
    border: none;
    width: 100%;
    background: transparent;
    cursor: pointer;
}

.rental-modal-dates-add-date {
    color: #717171;
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
}

.rental-modal-dates-checkin {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 50%;
    height: 100%;
    border-right: 1px solid #b0b0b0;
    padding-left: 15px;
}

.rental-modal-dates-checkin-title {
    font-family: 'Manrope', sans-serif;
    font-size: 10px;
    font-weight: 800;
}

.rental-modal-dates-checkout {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 50%;
    height: 100%;
    padding-left: 15px;
}

.rental-modal-dates-checkout-title {
    font-family: 'Manrope', sans-serif;
    font-size: 10px;
    font-weight: 800;
}

.rental-modal-content-container {
    width: 100%;
}

.rental-modal-content-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.rental-modal-content-header-pricing {
    text-align: left;
    align-items: flex-end;
}

#header-modal-pricing-value {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 22px;
    font-weight: 600;
    margin-right: 5px;
}

.rental-modal-content-header-reviews {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.4px;
    padding-bottom: 3px;
}

.rental-modal-rating-star {
    margin-right: 4px;
}

.rental-modal-rating-star svg {
    width: 12px;
    height: 12px;
    fill: rgb(34, 34, 34);
}

.rental-modal-rating-star-spacer {
    margin: 6px 5px 0 7px;
}

.rental-modal-content-header-reviews button {
    border: none;
    outline: none;
    color: #717171;
    background-color: #fff;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.4px;
    text-decoration: underline;
    text-underline-offset: 1px;
    cursor: pointer;
    margin-left: 3px;
}

.rental-modal-content-body {
    flex-direction: column;
    border: 1px solid #b0b0b0;
    border-radius: 8px;
    margin-bottom: 16px;
}

.rental-modal-dates {
    height: 56px;
    border-bottom: 1px solid #b0b0b0;
}

.rental-modal-guests {
    height: 56px;
    width: 100%;
    position: relative;
}

.rental-modal-guests button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    background-color: #fff;
    border: none;
    outline: none;
    border-radius: 8px;
    cursor: pointer;
}

.rental-modal-guests button:focus {
    border: 2px solid black;
}

.rental-modal-guests-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 13px;
    font-family: 'Manrope', sans-serif;
    font-size: 10px;
    font-weight: 800;
}

.rental-modal-guests-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 15px;
}

.rental-modal-guests-quantity {
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.rental-modal-content-footer {
    height: 48px;
    width: 100%;
    padding: 0 1px;
    text-align: center;
}

.rental-modal-content-footer button {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    color: #fff;
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    background: linear-gradient(90deg, rgba(230,30,77,1) 0%, rgba(227,28,95,1) 35%, rgba(215,4,102,1) 100%);
    cursor: pointer;
}

.rental-modal-reporting-container{
    width: 100%;
}

.rental-modal-reporting {
    display: flex;
    margin-top: 24px;
    justify-content: center;
}

.rental-modal-reporting button {
    display: flex;
    flex-direction: row;
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: -0.1;
    color: #717171;
    outline: none;
    border: none;
    text-decoration: underline;
    background-color: #fff;
    cursor: pointer;
}

.reporting-btn-icon {
    margin-right: 16px;
}

.reporting-btn-icon svg {
    width: 16px;
    height: 16px;
    fill: #717171;
}

.rental-modal-reserve-fees-container {
    width: 100%;
    margin-top: 20px;
    border-bottom: 1px solid #ddd;
}

.rental-modal-reserve-fees-header {
    font-size: 14px;
    margin-bottom: 25px;
}

.rental-modal-reserve-fees-charges-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

.rental-modal-reserve-fees-charges-category {
    font-size: 15px;
    text-decoration: underline;
}

.rental-modal-reserve-fees-charges{
    font-size: 15px;
}

.rental-modal-reserve-total-container {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 600;
}