.share-menu-cover-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
}

.share-container {
  display: flex;
  width: 568px;
  height: 598px;
  flex-direction: column;
  border-radius: 12px;
  background-color: #fff;
  z-index: 3;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -284px;
  margin-top: -299px;
  padding: 24px;
}

.share-header{
  height: 42px;
  width: 100%;
}
.share-body{
  width: 100%;
  height: 100%;
}

#share-menu-close-btn {
  flex: 0 0 16px;
  width: 16px;
  text-align: left;
  position: relative;
  left: -8px;
}

#share-menu-close-btn svg {
  height: 16px;
  width: 16px;
  stroke: rgb(34, 34, 34);
  stroke-width: 3px;
  overflow: visible;
}

#share-menu-close-btn button {
  background-color: #fff;
  padding: 8px 8px 6px 8px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

#share-menu-close-btn button:hover {
  background-color: rgba(235, 235, 235, 0.55);
}

.header-container{
  text-align: left;
  font-size: 26px;
  font-weight: 480;
}
.img-title-container{
  display: flex;
  padding-top: 20px;
  width: 100%;
  margin-bottom: 24px;
}
.share-title{
  color: rgb(34, 34, 34);
  font-weight: 300;
}


.single-img-container img{
  width: 69px;
  height: 64px;
  border-radius: 8px;
  margin-right: 16px;
}
.title-container {
  display: flex;
  text-align: center;
  width: 100%;
  padding-top: 24px;
}

.outer-buttons-container{
  display: flex;
  flex-direction: row;

}
.btn-column{
  display: flex;
  flex-direction: column;
  width: 50%;
  
}

.btn-column2{
  display: flex;
  flex-direction: column;
  width: 50%;
  
}

.share-btn{
  width: 250px;
  height: 74px;
  border: 1px solid black;
  border-radius: 8px;
  margin: 10px;
}

.btn{
  width: 100%;
  height: 100%;
  background-color: #fff;
  cursor: pointer;
  border: none  #ddd;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
}

.share-svg-container{
  display: flex;
  flex-direction: row;
  margin-left: 20px;

}
.whatsapp{
  padding-top: 8px;
  padding-left: 20px;
}
.whatsApp-svg{
  width: 34px;
  height: 34px;
  
}
.facebook-svg{
  width: 34px;
  height: 34px;
  
}

.messages-svg{
  
}