.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.learn-modal-container{
    display: flex;
    
}

.learn-modal{
    background-color: white;
    border-radius: 2.5%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1020px;
    max-width: 100%;
    height: 70%;
}

.rules-x-container{
    height:78px;
    display: flex;
    align-items: left;
}

.learn-close-btn{
    display: flex;
    border-radius: 50%;
    margin-left: 1em;
    margin-top: 1.5em;
    height: 60px;
}

.learn-close-btn button {
    height: 32px;
    width: 32px;
    background-color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.learn-close-btn svg {
    height: 16px;
    width: 16px;
    stroke: rgb(34, 34, 34);
    stroke-width: 3px;
    overflow: visible;
    border-radius: 50%;
}

.learn-close-btn button:hover {
    background-color: rgba(235, 235, 235, 0.55);
}

.learn-content-container{
    overflow-x:hidden;
    height: 85%;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 1.5em;
    word-wrap: break-word;
}

.airCover-image {
    height: 42px;
    margin-left: 24px;
    justify-content: left !important;
    padding-bottom: 10px;
}
.learn-modal-title{
    padding-bottom: 32px;
    margin-left: 24px;
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 100px !important;
    border-bottom: 1px solid rgba(221, 221, 221, .7);

}
.learn-modal-grid {
    display: flex;
    padding-bottom: 40px;

}
.learn-modal-grid-left{
    width: 50%;
    text-align: left;
    margin: 20px;
}
.learn-modal-grid-right{
    width: 50%;
    text-align: left;
    margin: 20px;
}

.learn-modal-grid-titles {
    font-size: 16px;
    font-weight: 500;
    margin: 10px;

}
.learn-modal-grid-desc {
    font-size: 16px;
    line-height: 24px;
    font-weight: 100;
    margin: 10px;

}
.learn-modal-details-link{
    
    text-decoration: none;
    color: black;
     
}

.learn-modal-details {
    margin-left: 32px;
    display: flex;
    width: 1000px;
    margin-bottom: 20px;
}

.learn-modal-details-link{
    margin-left: 5px;
    text-decoration-line: underline;
}