
.Star-review{
padding-left: 15px;
font-size: x-large ;
display: flex;

}
.modal-dynamic-reviews{
  width: 45%;
  text-align: left;
  font-size: xx-large;
  font-weight: 700;
  
}

.Modal-input-container {
  padding-bottom: 15px;
  display: flex;
  width: 50%;
  
 
}

.Modal-Categories-rating-bar-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 18px;
  padding-right: 10px;
}

.Modal-First-category-div {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.Modal-rating-container {
  display: flex;
  flex-direction: row;
  margin-top: 8px;
  width: 500px;
  align-items: c;
}

.Modal-bar-rating-label {
  /* max-width: 150px; */
  width: 290px;
  text-align: right;
  display: flex;
  justify-content: center;
  margin-right: 4em;
}

.Modal-bar-rating-label2 {
  width: 290px;
  text-align: right;
  padding-right: 20px;
  display: flex;
  justify-content: center;
  margin-right: 3em;
}

.Modal-progress-bar {
  width: 121px;
  height: 5px;
  border: 1px solid black;
  position: relative;
  border-radius: 4px;
  margin-top: 7px;
  margin-right: 11px;
}
.Modal-fill {
  height: 100%;
  background-color: rgb(2, 0, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  transition: width 0.5s ease-in-out;
}

.Modal-avg-score {
  font-size: 12px;
  font-weight: bold;
}

.Modal-categories-label1 {
  max-width: 295px;
  width: 50%;
  text-align: left;
  padding-left: 30px;
  font-size: 12px;
}

.Modal-categories-label2 {
  max-width: 295px;
  width: 50%;
  text-align: left;
  padding-left: 30px;
}

.Modal-Second-category-div {
  display: flex;
  flex-direction: column;
  width: 50%;
}


@media only screen and (max-width: 1128px) {
  .Modal-progress-bar {
    width: 75%;

  }
  .Modal-rating-container {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    width: 100%;
  }
  .Modal-bar-rating-label {
    width: 50%;
    justify-content: right;
    
  }
  .Modal-categories-label2 {
    font-size: 12px;
    width: 50%;
    justify-content: right;
  }
  .categories-and-reviews-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    
  }
  .Star-review{
    flex-direction: column;
    width: 100%;
  }
  .Modal-REVIEWS-container{
    width: 100%;
  }
  .Modal-Categories-rating-bar-container{
    flex-direction: row;
    width: 100%;
  }
  .Modal-input-container {
    width: 100%;
    padding-top: 1rem;
  }
  .modal-categories{
    width: 100%;
  }

  .Modal-reviews-modal {
    padding-top: 2REM;
    width: 100%;
  }
}
