.modal-layout {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 7;
  background-color: rgba(0, 0, 0, 0.3);
}

.exit-modal-container {
  display: flex;
}

.exit-modal {
  background-color: white;
  border-radius: 2.5%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1032px;
  max-width: 90%;
  height: 95%;
}

.container-holding-btn {
  width: 100%;
  height: 100px;
}

.button-container {
  height: 65px;
  width: 65px;
  display: flex;
  align-items: left;
}
.close-modal {
  width: 100%;
  border-radius: 100%;
  border: none;
  background-color: white;
  color: rgb(34, 34, 34);
}
.close-modal:hover {
  background-color: #f7f7f7;
}

.star-review-container {
  display: flex;
  padding: 0 20px;
  justify-content: space-between;
}

.categories-and-reviews-container {
  display: flex;
  flex-direction: row;
  height: 100%;
}
.modal-categories {
  width: 40%;
  height: 100%;
  margin-right: 90px;
}
.Modal-reviews-modal {
  width: 60%;
  height: 100%;
}

.modal-review-category {
  background-color: rgba(169, 61, 61, 0.802);
  height: 333px;
}

.categories-and-reviews-container {
  display: flex;
  flex-direction: row;
}
.show-all-search-input-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 529px;
  border: 1px solid #b0b0b0;
  border-radius: 50px;
  padding: 12px 12px 12px 16px;
  background-color: #f7f7f7;
}
.show-all-search-input-container input {
  height: 20px;
  border: none;
  outline: none;
  width: 100%;
  background-color: #f7f7f7;
  padding-left: 10px;
}

.Loupe-container {
  height: 16px;
  width: 16px;
}
.Loupe-container svg {
  width: 16px;
  height: 16px;
  stroke: black;
  stroke-width: 2px;
}

.modal-dynamic-reviews i {
  margin-right: 7px;
}

#close-review-btn {
  width: 35px;
  height: 35px;
  position: relative;
  margin: 25px 0 10px 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

#close-review-btn button {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  background-color: white;
  border-radius: 50%;
  padding: 8px;
}

#close-review-btn svg {
  height: 16px;
  width: 16px;
  stroke: rgb(34, 34, 34);
  stroke-width: 3px;
  overflow: visible;
  margin-top: 1px;
}
#close-review-btn button:hover {
  background-color: rgba(235, 235, 235, 0.55);
  cursor: pointer;
}
