.profile-menu-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 55px;
    right: 0;
    background-color: #fff;
    z-index: 2;
    width: 240px;
    height: 247px;
    box-shadow: 0 0 8px 4px rgba(211, 211, 211, .40);
    border-radius: 15px;
}

.profile-menu-container a,
.profile-menu-container a:visited,
.profile-menu-container a:hover,
.profile-menu-container a:active {
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-weight: inherit;
}

.profile-menu-top-links-container {
    height: 95px;
    margin: 8px 0;
    border-bottom: 1px solid rgba(221, 221, 221, .7);
    overflow: hidden;
}

.profile-menu-links {
    font-size: 14px;
    padding: 13px 0 13px 15px;
    letter-spacing: -0.35px;
    cursor: pointer;
}