.myhost-container {
    font-weight: 300;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid rgba(221, 221, 221, .7);
}

.host-cohost {
    height: auto;
    width:50%;
    margin-top: 3em;
    margin-right:3em;
}

.host {
    display: flex;
    flex-direction: column;
}

.host-info{
    display: flex;
    flex-direction: row;
}

.host-name {
    margin-left: 1em;
    margin-bottom: 1em;
}


.host-img-container{
    width: 64px;
    height: 64px;
    border-radius: 50%;

}

.host-img-container img{
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

.hosted-by{
    font-size: 21px;
    font-weight: 500;
    margin-top: .3em;
}

.month-year{
    text-align: left;
    font-size: 13.5px;
    color: #717171;
    margin-top: .8em;
    margin-bottom: 1em;
}

.host-rating{
    display: flex;
    flex-direction: row;
    font-size: 15.7px;
}

.reviews {
    display: flex;
    margin-right:2em;
}

.star{
    height:16px;
    width: 16px;
    margin-right: .8em ;
}

.star svg{
    height: 16px;
    width: 16px;
    display: block;
    fill:rgb(34, 34, 34);
}

.verification {
    display: flex;
}

.shield-icon {
    height: 20px;
    width: 16px;
    margin-left: -.9em;
    margin-right: .85em;
}

.shield-icon svg{
    height: 16px;
    width: 16px;
    display: block;
    fill:rgb(34, 34, 34)
}

.host-bio{
    margin-top:1.5em;
    text-align: start;
    font-size: 15.4px;
    max-width: 87.5%;
    line-height: 1.5em;
    word-wrap: break-word;
}

.cohost{
    display: flex;
    align-items: start;
    margin-top: 1.4em;
    flex-direction: column;
}

.cohost-title {
    font-weight: 500;
    font-size: 15.5px;
}

.cohost-bio-title {
    font-weight: 500;
    font-size: 15.5px;
}

.cohost-img-container{
    display:flex;
    flex-direction: row;
    margin-top: .5em;
    margin-bottom: .8em;
}

.cohost-name{
    margin-left: .9em;
    margin-top:.7em;
    font-size: 15.5px;
}

.cohost-img{
    width: 42px;
    height: 42px;
    border-radius: 50%;
}

.cohost-bio {
    margin-top: .8em;
    text-align: start;
    max-width: 88%;
    line-height: 1.5em;
    margin-bottom: 3em;
    font-size: 15.5px;
    word-wrap: break-word;
}

.contact-host {
    margin-right:2em;
    text-align: left;
    width:50%;
}

.contact {
    list-style-type: none;
    font-size: 15.7px;
    margin-top: 9em;
   
}

.contact li {
    margin-bottom: 1em;
}

.contact-btn-div {
    margin-top: 2em;

}

.contact-btn {
    background-color: white;
    border-radius: 9px;
    border-width: 1.5px;
    font-size: 16px;
    width: 150px;
    height: 48px;
    letter-spacing: 1px;
    cursor: pointer;
}

.contact-btn:hover {
    background-color: #f7f7f7;
}

.protection-logo{
    height:24px;
    width: 24px;
    margin-right: 1.1em;
    margin-top: .5em;
}

.protection-logo svg {
    height:24px;
    width: 24px;
    fill: rgb(227, 28, 95);
    stroke: rgb(34, 34, 34);
}

.payment-protect {
    display: flex;
    margin-top: 1.5em;
}

.protection-info {
    font-size: 11.5px;
    max-width: 260px;
    overflow: hidden;
    letter-spacing: .17px;
    line-height:15px;
}

.thingstoknow {
    display: flex;
    flex-direction: column;
}

.thingstoknow-title{
    text-align: left;
    font-size: 20.5px;
    margin-top: 2.5em;
    font-weight: 500;
    letter-spacing: .4px;
}

.thingstoknow-content{
    display: flex;
    flex-direction: row;
    font-size: 15.5px;
}

.thingstoknow-safety{
    margin-top: 1.6em;
    width:34%;
}

.thingstoknow-rules{
    margin-top: 1.6em;
    width:34%;
}

.thingstoknow-cancellation{
    margin-top: 1.6em;
    width:33%;
    margin-left: 1em;
}

.thingstoknow-subtitle {
    font-weight: 500;
    text-align: left;
}

.thingstoknow-content li {
    margin-top: .3em;
    list-style-type: none;
    text-align: left;
    line-height: 36px;
    font-weight: 300;
}

#cancel-info {
    text-align: left;
    font-weight: 300;
    margin-top: .5em;
}

.show-more-link {
    display: flex;
    margin-top: 1em;
    text-align: left;
    font-weight: 500;
    text-decoration: underline;
    text-decoration-color: rgb(34, 34, 34);
    margin-bottom: 3.5em;
}

.arrow{
    width: 10px;
    height: 10px;
    margin-left:.5em;
}


.cancel-show-more-link {
    display: flex;
    margin-top: 1.9em;
    text-align: left;
    font-weight: 500;
    text-decoration: underline;
    text-decoration-color: rgb(34, 34, 34);
    margin-bottom: 3.5em;
}

.show-more-link:hover {
    cursor: pointer;
}

  
  
@media only screen and (max-width: 1127px) {
    .cohost-title {
        display: none;
    }
    
    .cohost-img-container{
        display: none;
    }
    
    .cohost-name{
        display: none;
    }

    .cohost-img-container img{
        display: none;
    }

    .cohost-bio-title{
        margin-top: -1em;
    }
}

@media only screen and (max-width: 956px) {
    .thingstoknow-parts ul {
        width:85%;
    }

    .thingstoknow-content li {
        line-height: 20px;
        margin-bottom: 1.2em;
    }

    .thingstoknow-subtitle{
        padding-bottom:1em;
    }
}
  
@media only screen and (max-width: 743px) {

    .myhost-container{
        margin-top: -1em;
    }

    .host-info{
        justify-content: space-between;
    }

    .hosted-by{
        order:1;
        margin-left:-1em;
    } 

    .month-year{
        margin-left: -1.5em;
    }

    .host-img-container{
        order:2;
    } 
    
    .host-img-container img{
        width: 48px;
        height: 48px;
        border-radius: 50%;
    }

    .host-rating{
        flex-direction: column;
    }

    .verification{
        margin-left: .9em;
        margin-top:1em;
    }

    .myhost-container{
        display: flex;
        flex-direction: column;
        width:100%;
    }

    .host-cohost{
        width:100%;
    }

    .host-bio{
        font-size: 15.1px;
        max-width: 100%;
    }

    .cohost-bio{
        font-size: 15.1px;
        max-width: 100%;
    }

    .contact-host{
        margin-top: -10em;
        width: 100%;
    }

    .contact li{
        font-size: 15.1px;
        line-height: 14px;
    }

    .contact-btn{
        width:100%;
    }

    .payment-protect{
        display: flex;
        flex-direction: row;
        width:100%;
        margin-top: 2em;
    }

    .protection-info {
        max-width: 100%;
    }

    .protection-info p{
        width: 100%;
        font-size: 10.7px;
        margin-right: 3em;
    }

    .protection-logo{
        order:2;
        margin-left:5em;
        margin-bottom: 1em;
        margin-top: -.1em;
    }

    .thingstoknow-title{
        display: none;
    }

    .thingstoknow-content{
        display: flex;
        flex-direction: column;
        max-width: 100%;
    }

    .thingstoknow-subtitle{
        font-size: 21px;
    }

   .thingstoknow-rules{ /*house rules*/
        order:2;
        width: 100%;
        border-bottom: 1px solid rgba(221, 221, 221, .7);
   }

   .thingstoknow-cancellation{
        order:1;
        margin-left: -.5em;
        width: 100%;
        border-bottom: 1px solid rgba(221, 221, 221, .7);
   }

   .thingstoknow-safety{
        order:3;
        width: 100%;
        border-bottom: 1px solid rgba(221, 221, 221, .7);
   }

   .thingstoknow-content li{
        font-size: 13px;
        margin-top: -.5em;
        color: #717171;
   }

   #cancel-info{
        font-size: 13px;
        width:100%;
        color: #717171;
   }
}