@media only screen and (max-width: 1130px) {
    .nav-bar-logo p {
        visibility: hidden;
    }

    .nav-bar-content-container {
        padding: 0 40px !important;
    }

    .nav-bar-search-container {
        left: -275px; 
    }
}

@media only screen and (max-width: 850px) {
    /* TODO:Mobile Nav Bar Menu */
}

.nav-bar-content-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 80px;
    width: 100%;
    max-width: 1280px; 
    height: 80px;
    position: relative;
    top: 24px;
}

.nav-bar-content-container a {
    text-decoration: none;
}

.nav-bar-logo {
    display: flex;
    flex-direction: row;
    height: 32px;
    color: #ff385c;
    font-weight: 700;
    font-size: 22px;
    letter-spacing: -1px;
}

.nav-bar-logo svg {
    width: 32px;
    display: block;
    margin-right: 5px;
}

.nav-bar-logo p {
    padding-top: 3px;
}

.nav-bar-search-container {
    position: relative;
    top: -8px;
    min-width: 348px;
    padding: 0 24px;
    text-align: center;
}

#nav-bar-search-btn-fake {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 300px;
    margin-left: 150px;
    outline: none;
    background-color: #fff;
    border: 1px solid rgba(211, 211, 211, .7);
    border-radius: 50px;
    box-shadow: 0 1px 1px 1px rgba(211, 211, 211, .40);
    cursor: pointer;
}

#nav-bar-search-btn-fake:hover {
    box-shadow: 0 1px 2px 1px rgba(211, 211, 211, .7);
}

.fake-search-label {
    position: relative;
    top: 13px;
    left: 10px;
    padding: 0 16px;
    width: 219px;
    height: 22px;
    font-family: 'Manrope', sans-serif;
    font-size: 13px;
    font-weight: 600;
    text-align: left;
    letter-spacing: 0.3px;
}

.fake-search-icon {
    width: 32px;
    height: 32px;
    margin: 7px 7px 7px 0;
    background-color: #ff385c;
    border-radius: 50px;
}

.fake-search-icon i {
    position: relative;
    top: 8px;
    width: 12px;
    height: 12px;
    color: #fff;
}

.nav-bar-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
    top: -5px;
}

.nav-bar-links a, 
.nav-bar-links a:visited, 
.nav-bar-links a:hover, 
.nav-bar-links a:active{
    font-family: 'Manrope', sans-serif;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: -0.5px;
    color: rgb(34, 34, 34);
}

.nav-links-buttons {
    width: 180px;
    padding: 10px 15px;
    border-radius: 50px;
}

.nav-links-buttons:hover {
    background-color: rgba(211, 211, 211, .25);
}

.nav-bar-lang-btn-container {
    position: relative;
    top: -1px;
}

#nav-bar-lang-btn {
    display: inline;
    padding: 14px 16px 10px 16px;
    border: none;
    outline: none;
    border-radius: 50px;
    background-color: #fff;
    cursor: pointer;
}

#nav-bar-lang-btn:hover {
    background-color: rgba(211, 211, 211, .25);
}

#nav-bar-lang-btn svg {
    height: 16px;
    width: 16px;
    fill: #222222;
}

.nav-bar-profile-menu-container {
    position: relative;
}

#nav-bar-profile-menu-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px 5px 5px 12px;
    border: 1px solid rgba(211, 211, 211, .7);
    border-radius: 50px;
    background-color: #fff;
    cursor: pointer;
    margin-left: 4px;
}

#nav-bar-profile-menu-btn:hover {
    box-shadow: 0 1px 1px 1px rgba(211, 211, 211, .65);
}

.profile-menu-btn-shadow {
    box-shadow: 0 1px 1px 1px rgba(211, 211, 211, .65);
}

.nav-bar-profile-menu-btn-hamburger i {
    width: 16px;
    height: 16px;
    margin-top: 8px;
}

.nav-bar-profile-menu-btn-user {
    position: relative;
    width: 30px;
    height: 30px;
    fill: #717171;
    margin-left: 10px;
}

.profile-menu-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 55px;
    right: 0;
    background-color: #fff;
    z-index: 2;
    width: 240px;
    height: 247px;
    box-shadow: 0 0 8px 4px rgba(211, 211, 211, .40);
    border-radius: 15px;
}

.profile-menu-container a,
.profile-menu-container a:visited,
.profile-menu-container a:hover,
.profile-menu-container a:active {
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-weight: inherit;
}

.profile-menu-top-links-container {
    height: 95px;
    margin: 8px 0;
    border-bottom: 1px solid rgba(221, 221, 221, .7);
    overflow: hidden;
}

.profile-menu-links {
    font-size: 14px;
    padding: 13px 0 13px 15px;
    letter-spacing: -0.35px;
    cursor: pointer;
}

.bold {
    font-weight: 600;
}

.profile-menu-links:hover {
    background-color: rgba(211, 211, 211, .20);
}

.cover-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.5);
}

.login-menu-container {
    display: flex;
    flex-direction: column;
    width: 568px;
    height: 682px;
    border-radius: 12px;
    background-color: #fff;
    z-index: 3;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -341px;
    margin-left: -284px;
}

.login-menu-header-container {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    justify-content: space-between;
    height: 63px;
    padding: 0 24px;
    border-bottom: 1px solid rgb(235, 235, 235);
}

#login-menu-close-btn {
    flex: 0 0 16px;
    width: 16px;
    text-align: left;
    position: relative;
    left: -8px;
}

#login-menu-close-btn svg {
    height: 16px;
    width: 16px;
    stroke: rgb(34, 34, 34);
    stroke-width: 3px;
    overflow: visible;
}

#login-menu-close-btn button {
    background-color: #fff;
    padding: 8px 8px 6px 8px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

#login-menu-close-btn button:hover {
    background-color: rgba(235, 235, 235, 0.55);
}

.login-menu-header {
    font-size: 8px;
    letter-spacing: -0.25px;
    text-align: center;
}

.login-menu-header-spacer {
    width: 16px;
}

.login-menu-body-container {
    width: 568px;
    height: 618px;
    padding: 24px;
}

.body-content-header {
    text-align: left;
    font-size: 22px;
    font-weight: 500;
    margin: 8px 0 24px 0;
}

.login-menu-form-container {
    height: 216px;
    margin-top: 16px;
}

.login-menu-form-inputs {
    border: 1px solid #b0b0b0;
    border-radius: 8px;
}

.login-menu-form-input-country {
    height: 56px;
    border-bottom: 1px solid #b0b0b0;
}

.login-menu-form-input-phone {
    height: 56px;
}

.login-menu-form-footer {
    margin-top: 8px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    letter-spacing: 0.2px;
    line-height: 16px;
}

.login-menu-form-footer a {
    font-size: 12px;
    text-decoration: underline;
}

.login-menu-form-footer a:hover {
    font-size: 12px;
}

.login-menu-form-submit-btn-container {
    height: 48px;
    margin: 16px 0 24px 0;
    width: 100%;
    text-align: center;
}

.login-menu-form-submit-btn-container button {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    color: #fff;
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    background: linear-gradient(90deg, rgba(230,30,77,1) 0%, rgba(227,28,95,1) 35%, rgba(215,4,102,1) 100%);
    cursor: pointer;
}

.login-menu-body-divider-container {
    height: 16px;
    margin: 16px 0;
    width: 100%;
}

.login-menu-body-divider::before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    margin-right: 16px;
    background-color: rgb(221, 221, 221);
}

.login-menu-body-divider {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

.login-menu-body-divider::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    margin-left: 16px;
    background-color: rgb(221, 221, 221);
}

.login-menu-body-footer-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 240px;
}

.login-menu-body-footer-links {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 8px;
    height: 48px;
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
    font-weight: 600;
}

.login-menu-body-footer-links:hover {
    background-color: rgba(235, 235, 235, 0.55);
    cursor: pointer;
}

.footer-link-icons {
    position: relative;
    width: 20px;
    height: 20px;
}

#footer-link-facebook-icon {
    left: -145px;
}

#footer-link-google-icon {
    left: -154px;
}

#footer-link-apple-icon {
    left: -158px;
}

#footer-link-email-icon {
    left: -157px;
}

.footer-link-icons svg {
    width: 20px;
    height: 20px;
}