.Modal-REVIEWS-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 4rem;
  word-wrap: break-word;
  overflow-x:hidden ;
  height: 100%;
}

.Modal-review-box {
  width: 100%;
  height: 215px;
 
}
.Modal-img-name-date-container{
  display: flex;
}

.Modal-inner-container {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  margin-bottom: 2em;
}

.Modal-img-container {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  overflow: hidden;
}
.Modal-img-container img {
  height: 100%;
  width: 100%;
  object-fit: cover; 
}

.img-name-date-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.Modal-img-name-date-container li{
color: #717171;
 width: 240px;
}

.Modal-actual-review {
  text-align: left;
  padding-top: 15px;
  width: 500px;
}


.Modal-name-date-container {
  text-align: left;
  margin-left: 10px;
  

}

.Modal-date-container {
  list-style-type: none;
  width: 300px;
}

  .Modal-user {
  font-size: 16px;
  font-weight: 480;
 }


 
@media only screen and (max-width: 1128px) {
  .Modal-REVIEWS-container {
    display: flex;
    flex-direction: column;
  }
  .Modal-review-box {
    width: 100%;
  }
  .Modal-inner-container {
    width: 100%;
  }
  .Modal-individual-review {
    width: 100%;
    text-align: left;
  }
  .Modal-actual-review {
    width: 100%;
  }
}
