.REVIEWS-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-top: 4rem;
}

.review-box {
  width: 50%;
  height: 215px;
}

.inner-container {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}

@media only screen and (max-width: 1128px) {
  .REVIEWS-container {
    display: flex;
    flex-direction: column;
  }
  .review-box {
    width: 100%;
  }
  .inner-container {
    width: 100%;
  }
  .individual-review {
    width: 100%;
    text-align: left;
  }
  .actual-review {
    width: 100%;
  }
}
