.Review-Container{

}

.Total-rating-reviews{
  display: flex;
  margin-top:  32px;
  font-weight: 500 ;
  font-size: 22px;
  width: 1120px;
  height: 25.99px;
}

.Catergories-rating-bar-container{
  width: 1135px;
  height: 107.98px;
  display: flex;
  flex-direction: row;

}