@media screen and (max-width: 1128px) {
    .footer-content-container {
        padding: 48px 40px 24px 40px !important;
    }

    .footer-content-top-container {
        flex-direction: column !important;
        padding-bottom: 0 !important;
        border: none !important;  
    }

    .footer-column-links ul {
        display: flex !important;
        flex-direction: row !important;
        flex-wrap: wrap !important;
        padding-bottom: 24px;
        margin-bottom: 24px;
        border-bottom: 1px solid rgba(221, 221, 221, .7);
    }

    .footer-column-links ul li {
        flex-basis: 33.33%;
        margin-top: 12px !important;
        padding-right: 12px !important;
    }

    .footer-content-bottom-container{
        display: flex !important;
        flex-direction: column !important;
        align-items: center;
        margin-top: 0 !important;
    }

    .footer-bottom-social-container {
        order: 1;
        margin-bottom: 16px;
    }

    .footer-bottom-links-container {
        display: flex !important;
        flex-direction: column !important;
        align-items: center;
        order: 2;
    }

    .footer-copyright-container {
        margin-bottom: 5px;
    }

    .legal-point-initial {
        display: none;
    }
}

@media screen and (max-width: 744px) {
    .footer-content-container {
        padding: 32px 24px 24px 24px !important;
    }
    
    .footer-column-links ul {
        display: flex !important;
        flex-direction: column !important;
        flex-wrap: wrap !important;
        padding-bottom: 24px;
        margin-bottom: 24px;
        border-bottom: 1px solid rgba(221, 221, 221, .7);
    }

    .footer-column-links ul li {
        margin-top: 12px !important;
    }

    .footer-content-bottom-container{
        align-items: flex-start !important;
    }

    .footer-bottom-links-container {
        align-items: flex-start;
        order: 2;
    }
}

.footer-content-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1280px;
    padding: 48px 80px 24px 80px;
}

/* Top Container */
.footer-content-top-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 48px;
    border-bottom: 1px solid rgba(221, 221, 221, .7);
}

.footer-column-container {
    display: flex;
    flex-direction: column;
    flex: 1 0 0 0%;
    font-size: 14px;
    font-weight: 600;
}

.footer-column-header {
    font-size: 14px;
    font-weight: 800;
    line-height: 18px;
}

.footer-column-links ul {
    display: block;
    list-style: none;
    line-height: 20px;
}

.footer-column-links ul li {
    margin-top: 16px;
    font-weight: 400;
}

.footer-column-links ul li a, 
.footer-column-links ul li a:visited, 
.footer-column-links ul li a:active {
    color: rgb(34,34,34);
    text-decoration: none;
}

.footer-column-links ul li a:hover {
    color: rgb(34,34,34);
    text-decoration: underline;
}

/* Bottom Container */
.footer-content-bottom-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
}

.footer-bottom-links-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.footer-bottom-social-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}







.econ-column {
    display: flex;
    flex-direction: row;
    font-weight: 600; 
    font-size: 12px;
}
/* Copyright text */
.legal-info {
    margin: 0px 5px 0px 0px;
    font-weight: 400;
    font-size: 12px;
}

/* · symbol  */
.legal-point,
.legal-point-initial {
    font-size: 12px;
    font-weight: 800;
    margin: 0 5px 0 0;
}

.legal-list {
    display: flex;
    flex-direction: row;
    margin: 0px 20px 0px 0px;
    align-items: flex-end;
}

/* Legal text */
.legal-item {
    margin: 0px 5px 0px 0px;
    font-weight: 400;
    font-size: 12px;
    cursor: pointer;
}

.legal-item,
.legal-item:active,
.legal-item:visited {
    color: rgb(34,34,34);
    text-decoration: none;
}

.legal-item:hover {
    color: rgb(34,34,34);
    text-decoration: underline;
}

#privacy-symbol {
    display: flex;
    align-items: flex-end;
}

#privacy-symbol svg {
    width: 28px;
    height: 14px;
    margin: 0;
    cursor: pointer;
}


.econ-items {
    margin: 0 20px 0 0;
    cursor: pointer;
}

#lang svg {
    fill: black;
    width: 20px;
    height: 20px;
    margin: 0 0px 0 0;
}

#lang {
    width: 20px;
    height: 20px;
    margin: 0 3px 0 0;
}


.social-column {
    display: flex;
    flex-direction: row;
    font-weight: 200;
    font-size: 14px;
    margin-left: 32px;
}

.social-items {
    margin: 0 5px;
}

#facebook {
    margin: 0 10px 0 0;
    cursor: pointer;
}

#facebook svg {
    display: block;
    width: 18px;
    height: 18px;
    fill: black;
}
#twitter {
    margin: 0 10px;
    cursor: pointer;
}

#twitter svg {
    display: block;
    width: 18px;
    height: 18px;
    fill: black;
}

#insta{
    margin: 0 0px 0 10px;
    cursor: pointer;
}

#insta svg {
    display: block;
    width: 18px;
    height: 18px;
    fill: black;
}

.content-group {
    display: flex;
    flex-direction: column;
}